.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  color: #fff;
  font-family: Roboto-Slab;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.navbar__hamburger {
  background: url(../../images/menu.svg);
  width: 24px;
  height: 24px;
  border: none;
}

@media (min-width: 481px) {
 .navbar {
  padding: 22px 40px;
 }
}

