.header {
  width: 100%;
  box-sizing: border-box;
  background: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 80px;
}

.header__title {
  max-width: 608px;
  color: #fff;
  margin: 80px auto 32px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}

.header__subtitle {
  max-width: 608px;
  color: #fff;
  margin: 0 auto 88px;
  font-family: 'Roboto', sans-serif;
  font-size: 18x;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .header__title {
    max-width: 448px;
    font-size: 36px;
    line-height: 40px;
    margin: 38px auto 16px;
  }
  .header__subtitle {
    max-width: 448px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 48px;
  }

  @media screen and (max-width: 720px) {
    .header__title {
      max-width: 288px;
      margin-top: 30px;
    }
    .header__subtitle {
      max-width: 288px;
      margin-bottom: 122px;
    }
  }
}

