.header {
  padding: 0;
  background: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px;
}

.header__title {
  color: #fff;
  font-family: "Roboto-Slab";
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  max-width: 448px;
  margin: 30px auto 16px;
  
}

.header__subtitle {
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  padding-bottom: 122px;
  max-width: 448px;
  margin: 0 auto;
}

@media (min-width: 481px) {
  .header {
    padding: 0 0 48px 0;
  }
}

@media (min-width: 1000px) {
  .header__title {
    font-size: 60px;
    line-height: 64px;
    max-width: 608px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 24px;
    max-width: 608px;
  }
}

