.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px;

}

.footer__title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #b6bcbf; 
  margin: 0;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links-yandex {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer__links-social {
  list-style: none;
}

.footer__list-icon {
  height: 24px;
  width: 24px;
  color: #191717;
  margin-left: 42px;
}
