.card {
  position: relative;
  width: 400px;
  background: #fff;
  border-radius: 10px;
  margin: 8px 8px;
}

.card__img {
  position: relative;
  height: 272px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 0;
}

.card__date {
  font-family: 'Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #b6bcbf;
  margin: 17px 0 15px 24px;
}

.card__title {
  font-family: 'Roboto Slab';
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0 24px;
}

.card__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 24px 40px;
}

.card__source {
  font-family: 'Roboto Slab';
  font-size: 16px;
  color: #b6bcbf;
  text-transform: uppercase;
  margin: 0 24px 24px;
}

@media screen and (max-width: 1024px) {
  .card {
    width: 288px;
    height: 452px;
  }
  .card__img {
    height: 196px; 
  }
  .card__date {
    font-size: 18px;
    margin: 16px 0 12px 18px;
  }
  .card__title {
    font-size: 22px;
    margin: auto;
    width: 256px;
    height: 48px;
    text-overflow: ellipsis;
    text-overflow: hidden;
  }
  .card__text{
    margin: 10px 18px 12px;
    height: 88px;
    overflow: hidden; 
    word-wrap: break-word;
  }
  .card__source{
    margin: 0 18px 16px;
  }
}